.contacts {   
    font-style: normal;
    text-align: right;
    cursor: pointer;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;

}

.contacts__dropdown {
    position: relative; 
    display: flex;
    justify-content: flex-end;   
}

.contacts__dropdown-title {  
    font-size: 13px;
    text-decoration: underline;
    line-height: 1;
}

.contacts__dropdown:hover .dropdown__menu {
    right: 0;
    opacity: 1;
}

.dropdown__menu {
    position: absolute;
    background: #EDEDED;
    padding: 10px 10px;
    width: 160px;
    top: 100%;
    margin-top: 9px;
    right: -9999px;
    opacity: 0;
    transition: opacity .5s;
    line-height: 1.8;
    font-size: 13px;
    border-radius: 4px;
    border: 1px solid transparent;
}

.dropdown__menu:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 9px solid #EDEDED;
    top: -10px;
    right: 36px;  
}

.contacts__dropdown-list {
    color: #1E1F20;
    text-align: center;
}

.contacts__dropdown-item-font {
    font-weight: bold;
    
}

